@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>会员修改密码验证记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MemberPwdlog.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MemberPwdlogTableToolbar" role="group">
                            @if(shiro.hasPermission("/memberPwdlog/add")){
                                <#button name="添加" icon="fa-plus" clickFun="MemberPwdlog.openAddMemberPwdlog()"/>
                            @}
                            @if(shiro.hasPermission("/memberPwdlog/update")){
                                <#button name="修改" icon="fa-edit" clickFun="MemberPwdlog.openMemberPwdlogDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/memberPwdlog/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="MemberPwdlog.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="MemberPwdlogTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/member/memberPwdlog/memberPwdlog.js"></script>
@}
