@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" underline="true"/>
                            <#input id="fromUname" name="发信者名称" underline="true"/>
                            <#input id="toUname" name="收信者名称" underline="true"/>
                            <#input id="toTime" name="发送时间" underline="true"/>
                            <#input id="subject" name="主题" underline="true"/>
                            <#input id="content" name="内容" underline="true"/>
                            <#input id="read" name="是否已读" underline="true"/>
                            <#input id="keepUnread" name="标为未读" underline="true"/>
                            <#input id="hasStar" name="是否标星"/>
                </div>

                <div class="col-sm-6">
                            <#input id="hasSent" name="是否发送" underline="true"/>
                            <#input id="toId" name="收信者ID" underline="true"/>
                            <#input id="fromId" name="发信者ID" underline="true"/>
                            <#input id="forId" name="目标ID" underline="true"/>
                            <#input id="fromType" name="发信者类型" underline="true"/>
                            <#input id="orderId" name="订单ID" underline="true"/>
                            <#input id="gmtCreate" name="创建时间" underline="true"/>
                            <#input id="gmtModified" name="修改时间" underline="true"/>
                            <#input id="remark" name="备注" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberMsgInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberMsgInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/member/memberMsg/memberMsg_info.js"></script>
@}
