@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" underline="true"/>
                            <#input id="logtype" name="日志类型" underline="true"/>
                            <#input id="logname" name="日志名称" underline="true"/>
                            <#input id="classname" name="类名称" underline="true"/>
                            <#input id="method" name="方法名称" underline="true"/>
                            <#input id="succeed" name="是否成功"/>
                </div>

                <div class="col-sm-6">
                            <#input id="message" name="具体内容" underline="true"/>
                            <#input id="memberId" name="会员ID" underline="true"/>
                            <#input id="pamMemberId" name="登录账号ID" underline="true"/>
                            <#input id="gmtCreate" name="创建时间" underline="true"/>
                            <#input id="gmtModified" name="修改时间" underline="true"/>
                            <#input id="remark" name="备注" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="PamOperationLogInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="PamOperationLogInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/pamOperationLog/pamOperationLog_info.js"></script>
@}
