<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="cn.farwalker.ravv.service.model.newarrivals.goods.dao.INewArrivalsGoodsDao">

    <select id="selectGoodsForMenuId" parameterType="map" resultType="cn.farwalker.ravv.service.goods.base.model.GoodsDetailsVo">
        select gds.*,min(gp.price) as lowest_price,gi.img_position as image_major
        from web_menu_goods as wmg
        left join new_arrivals_goods as nag on wmg.goods_Id = nag.goods_Id
        left join goods as gds on nag.goods_Id = gds.id
        LEFT  join goods_price as gp on gds.id = gp.goods_id
        left join goods_image as gi on  gds.id = gi.goods_id
        where 1 = 1
        <if test="menuIdList != null">
            and
            <foreach collection="menuIdList" separator="," open="(" item="item" close=")">
                wmg.menu_id in #{item}
            </foreach>
        </if>
        and gi.img_position like 'MAJOR';
    </select>

    <select id="getGoods" resultType="cn.farwalker.ravv.service.goods.base.model.GoodsDetailsVo">
        select goods.*, min(gp.price) as lowest_price ,nag.img_url as image_major from  new_arrivals_goods as nag
        LEFT  join goods on goods.id = nag.goods_id
        LEFT  join goods_price as gp on goods.id = gp.goods_id
        GROUP by goods.id

    </select>

</mapper>