<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="cn.farwalker.ravv.service.model.newarrivals.goods.dao.INewArrivalsGoodsDao">
    <select id="getGoods" resultType="cn.farwalker.ravv.service.goods.base.model.GoodsDetailsVo">
        select goods.*, min(gp.price) as lowest_price ,nag.img_url as image_major from goods
        LEFT  join new_arrivals_goods as nag on goods.id = nag.goods_id
        LEFT  join goods_price as gp on goods.id = gp.goods_id
        GROUP by goods.id
    </select>

</mapper>