@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="会员ID" value="${item.id}" underline="true"/>
                            <#input id="name" name="名称" value="${item.name}" underline="true"/>
                            <#input id="password" name="密码" value="${item.password}" underline="true"/>
                            <#input id="payPassword" name="支付密码" value="${item.payPassword}" underline="true"/>
                            <#input id="regIp" name="注册IP" value="${item.regIp}" underline="true"/>
                            <#input id="registerTime" name="注册时间" value="${item.registerTime}" underline="true"/>
                            <#input id="status" name="审核状态" value="${item.status}" underline="true"/>
                            <#input id="area" name="所属地区" value="${item.area}" underline="true"/>
                            <#input id="address" name="地址" value="${item.address}" underline="true"/>
                            <#input id="mobile" name="手机" value="${item.mobile}" underline="true"/>
                            <#input id="tel" name="固定电话" value="${item.tel}" underline="true"/>
                            <#input id="zip" name="邮编" value="${item.zip}" underline="true"/>
                            <#input id="memberType" name="会员类型" value="${item.memberType}" underline="true"/>
                            <#input id="sex" name="性别" value="${item.sex}" underline="true"/>
                            <#input id="birthday" name="出生年月" value="${item.birthday}" underline="true"/>
                            <#input id="email" name="邮箱" value="${item.email}" underline="true"/>
                            <#input id="nickName" name="昵称" value="${item.nickName}" underline="true"/>
                            <#input id="lastname" name="姓氏" value="${item.lastname}" underline="true"/>
                            <#input id="middleName" name="副名" value="${item.middleName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="firstname" name="名字" value="${item.firstname}" underline="true"/>
                            <#input id="favCurrencyId" name="喜好的货币ID" value="${item.favCurrencyId}" underline="true"/>
                            <#input id="favCurrencyName" name="喜好的货币名称" value="${item.favCurrencyName}" underline="true"/>
                            <#input id="favLang" name="喜好的语言" value="${item.favLang}" underline="true"/>
                            <#input id="orderNum" name="订单数" value="${item.orderNum}" underline="true"/>
                            <#input id="loginCount" name="登录次数" value="${item.loginCount}" underline="true"/>
                            <#input id="point" name="积分" value="${item.point}" underline="true"/>
                            <#input id="deposit" name="当前预存款" value="${item.deposit}" underline="true"/>
                            <#input id="advance" name="账户余额" value="${item.advance}" underline="true"/>
                            <#input id="advanceFreeze" name="冻结金额" value="${item.advanceFreeze}" underline="true"/>
                            <#input id="pointFreeze" name="冻结金额" value="${item.pointFreeze}" underline="true"/>
                            <#input id="referralCode" name="推荐码" value="${item.referralCode}" underline="true"/>
                            <#input id="avator" name="头像" value="${item.avator}" underline="true"/>
                            <#input id="qrcode" name="二维码" value="${item.qrcode}" underline="true"/>
                            <#input id="levelId" name="等级ID" value="${item.levelId}" underline="true"/>
                            <#input id="gmtCreate" name="创建时间" value="${item.gmtCreate}" underline="true"/>
                            <#input id="gmtModified" name="修改时间" value="${item.gmtModified}" underline="true"/>
                            <#input id="remark" name="备注" value="${item.remark}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MemberInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MemberInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/member/member/member_info.js"></script>
@}
